<!doctype html>
<html lang="es">
{* Template principal / MENU SUPERIOR 1er Nivel - Buscador - USUARIO *}
{* templates ext XHTML*}		

<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Meta -->
		<meta name="description" content="{$descripcion}">
		<meta name="author" content="{$autor}">
		<link rel="shortcut icon" href="assets/img/fav.png" />

		<!-- Title -->
		<title>{$titulo}</title>


		<!-- *************
			************ Common Css Files *************
		************ -->
		<!-- Bootstrap css -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">

		<!-- Icomoon Font Icons css -->
		<link rel="stylesheet" href="assets/fonts/style.css">

		<!-- Main css -->
		<link rel="stylesheet" href="assets/css/main.css">


		<!-- *************
			************ Vendor Css Files *************
		************ -->
		<!-- DateRange css -->
		<link rel="stylesheet" href="assets/vendor/daterange/daterange.css" />

		<!-- Chartist css -->
		<link rel="stylesheet" href="assets/vendor/chartist/css/chartist.min.css" />
		<link rel="stylesheet" href="assets/vendor/chartist/css/chartist-custom.css" />	
		{*includes por seccion*}

		{include file="$head"}

	</head>
	<body>

{$spinner}

{* Carga del menu superior - Logo/Accesos Rapidos  Buscador / Tareas / Notificaciones / Usuario-Sesion / Ajustes rapidos *}
{include file="header.xhtml"}



{* Se cargaran los elementos:  XHTML con Menu / Xhtml contenido *}
{include file="menu.xhtml"}

		<!-- *************
			************ Required JavaScript Files *************
		************* -->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/bootstrap.bundle.min.js"></script>
		<script src="assets/js/moment.js"></script>


		<!-- *************
			************ Vendor Js Files *************
		************* -->
		<!-- Slimscroll JS -->
		<script src="assets/vendor/slimscroll/slimscroll.min.js"></script>
		<script src="assets/vendor/slimscroll/custom-scrollbar.js"></script>

		<!-- Daterange -->
		<script src="assets/vendor/daterange/daterange.js"></script>
		<script src="assets/vendor/daterange/custom-daterange.js"></script>

		<!-- Chartist JS -->
		<script src="assets/vendor/chartist/js/chartist.min.js"></script>
		<script src="assets/vendor/chartist/js/chartist-tooltip.js"></script>
		<script src="assets/vendor/chartist/js/custom/threshold/threshold.js"></script>
		<script src="assets/vendor/chartist/js/custom/bar/bar-chart-orders.js"></script>

		
		{if isset($footer)}
     		{include file="$footer"}
		{/if}

		<!-- Main Js Required -->
		<script src="assets/js/main.js"></script>

	</body>

</html>